/* index html */

.project-title {
    margin-bottom: 20px;
  }
  
  .project-link {
    margin-bottom: 10px;
  }
  
  .project-link a {
    color: #138ece;
  }
  
  .project-link a:hover {
    color: palevioletred;
    text-decoration: underline;
  }
  
  .main-content-p.project {
    margin-bottom: 20px;
  }
  
  ul.project-list li {
    list-style-type: disc;
    font-size: 20px;
  }